<div class="col s12  light-blue lighten-2">Flagname: <strong>{{ key }}</strong></div>
<div class="col s12">
    <ul class="collection">
        {% for configName, configValue in feature %}
            <li class="collection-item">{{ configName }}:
                {% if configValue is iterable %}
                    <ul class="collection">
                        {% for key, value in configValue %}
                            <li class="collection-item">{{ key }}: {% if value is null %}NULL{% else %}{{ value }}{% endif %}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% if configValue is null %}NULL{% else %}{{ configValue }}{% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>