<div class="col s12  light-blue lighten-2">Flagname: <strong>{{ feature.name }}</strong></div>
<div class="col s12">
    <ul class="collection hoverable">
        <li class="collection-item">Ip: {% if feature.ip is empty %}NULL
            {% else %}
                <ul class="collection hoverable">
                    {% for ip in feature.ip %}
                        <li class="collection-item">{{ ip }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        <li class="collection-item">Date start: {% if feature.dateStart is null %}NULL{% else %}{{ feature.dateStart|date('Y-m-d') }}{% endif %}</li>
        <li class="collection-item">Date end: {% if feature.dateEnd is null %}NULL{% else %}{{ feature.dateEnd|date('Y-m-d') }}{% endif %}</li>
        <li class="collection-item">Time start: {% if feature.timeStart is null %}NULL{% else %}{{ feature.timeStart }}{% endif %}</li>
        <li class="collection-item">Time end: {% if feature.timeEnd is null %}NULL{% else %}{{ feature.timeEnd }}{% endif %}</li>
        <li class="collection-item">Environment: {% if feature.environment is empty %}NULL
            {% else %}
                <ul class="collection hoverable">
                    {% for env in feature.environment %}
                        <li class="collection-item">{{ env }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        <li class="collection-item">Sapi: {% if feature.sapi is empty %}NULL
            {% else %}
                <ul class="collection hoverable">
                    {% for sapi in feature.sapi %}
                        <li class="collection-item">{{ sapi }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        <li class="collection-item">Sapi negation: {% if feature.sapiNegation is null %}NULL{% elseif not feature.sapiNegation %}False {% else %}True{% endif %}</li>
    </ul>
</div>