{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block title %}
    FeatureFlags Overview
{% endblock %}

{% block body %}
<body class="light-blue lighten-5">
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="center-align">{% block pageTitle %}FeatureFlags Overview{% endblock %}</h1>
            <div class="center-align red">{% block handler %}Current handler class: {{ handler }}{% endblock %}</div>
        </div>
        <div class="col s12">
            {% for key, feature in flags %}
                {% if feature|instanceof('array') %}
                    {% include 'FeatureFlagBundle:Default:ConfigArray.html.twig' with {'key': key, 'feature': feature} %}
                {% elseif feature|instanceof('\\Dknx01\\FeatureFlagBundle\\Entity\\FeatureFlag') %}
                    {% include 'FeatureFlagBundle:Default:FeatureFlagEntity.html.twig' with {'feature': feature} %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<!-- Compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
{% endblock %}